button {
	font-size: 2em;
	padding: 30px;
    margin: auto;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
}

button:hover {
	background-color: white;
    color: black;
}

body {

	background-color: white;
 	display: flex;
 	align-items: center;
  	display: flex;
  	flex: 1;
  	height:100vh;
  	justify-content: center;
  	align-items: center;
}